<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
</head>
<body>

<div class="product-container">
    {% for product in products %}
        <a href="{% url 'store:buy_product' product.id %}" class="product-link">
            <div class="product-card">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                
            </div>
        </a>
    {% empty %}
        <p>No products available.</p>
    {% endfor %}
</div>



</body>
</html>